/* Contenedor general */
.container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start; /* Alinea el contenido al principio verticalmente */
    margin: 20px auto; /* Margen superior e inferior */
    max-width: 1200px; /* Máximo ancho del contenedor */
    width: 100%; /* Ancho total del contenedor */
}

/* Estilo para la imagen */
.image-container {
    width: auto; /* Ancho total de la imagen */
    height: auto; /* Mantiene la proporción */
    object-fit: cover; /* Cubre el área sin distorsionar la imagen */
    transition: none; /* Desactiva cualquier transición */
}


/* Contenedor para los elementos a la derecha */
.right-container {
    display: flexbox;
    flex: 1; /* Ocupa 1 parte del espacio disponible */
    padding: 20px; /* Espaciado interno */
    justify-content: flex-start
}

/* Estilo para el select */
.select-custom {
    background-color: #2d3748; /* Color de fondo */
    color: #ffffff; /* Color del texto */
    border: 1px solid #4a5568; /* Color del borde */
    border-radius: 0.25rem; /* Bordes redondeados */
    padding: 0.5rem; /* Espaciado interno */
    width: auto; /* Ajusta el ancho según sea necesario */
    cursor: pointer; /* Cambia el cursor al pasar sobre el select */
}
/* Estilos para las opciones dentro del select */
.custom-select option {
    background-color: #2d3748; /* Color de fondo de las opciones */
    color: #ffffff; /* Color del texto de las opciones */
}

/* Cambiar color al hacer hover en el select */
.custom-select:hover {
    background-color: #4a5568; /* Cambia el color de fondo al pasar el ratón */
}

/* Cambiar color al hacer focus en el select */
.custom-select:focus {
    outline: none; /* Eliminar el contorno por defecto */
    border: 1px solid #4782ad; /* Cambia el borde al enfocar */
}

/* Estilo para el título */
.title {
    font-size: 1.5rem; /* Tamaño de la fuente */
    margin-bottom: 10px; /* Espacio inferior */
}

/* Estilo para la lista */
.item-list {
    list-style-type: none; /* Sin puntos de lista */
    padding: 0; /* Sin espaciado interno */
}

.item-list li {
    padding: 10px; /* Espaciado interno */
    border: 1px solid #d1d5db; /* Color del borde */
    border-radius: 0.25rem; /* Redondeo de esquinas */
    margin-bottom: 15px; /* Espacio inferior entre elementos */
}
.item-text {
    margin-bottom: 0.5rem; /* Ajusta el espacio inferior del texto */
}
.button {
    margin-top: 0.5rem; /* Ajusta el espacio superior del botón */
}
