
.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra el contenido */
    border-radius: 10px; /* Bordes redondeados para las tarjetas */
    margin: 10px; /* Espacio entre tarjetas */
    overflow: hidden;/* Asegura que no se salga el contenido */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6); /* Sombra para dar profundidad */
}

.image-container {
    position: relative; /* Permite que los elementos hijos se posicionen en relación a este contenedor */
    overflow: hidden; /* Asegura que la imagen no sobresalga */
    border-radius: 10px; /* Bordes redondeados */
}

.movie-card img {
    width: auto;            /* Ajusta el ancho */
    height: auto;           /* Asegúrate de que la altura sea igual al ancho */
    object-fit: cover;       /* Mantiene la relación de aspecto y recorta la imagen si es necesario */
    transition: transform 0.3s ease; /* Transición suave al aumentar el tamaño */
}

.image-container:hover img {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al pasar el cursor */
}

.view-button {
    position: absolute;       /* Posiciona el botón sobre la imagen */
    bottom: 10px;            /* Ajusta la posición según sea necesario */
    left: 50%;               /* Centra horizontalmente */
    transform: translateX(-50%); /* Asegura que el botón esté centrado */
    padding: 10px 10px;      /* Espaciado del botón */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: white;           /* Color del texto */
    border: none;           /* Sin borde */
    border-radius: 5px;     /* Bordes redondeados */
    opacity: 0;             /* Comienza oculto */
    transition: opacity 0.3s ease; /* Transición suave al mostrar el botón */
    font-weight: bold;
}

.image-container:hover .view-button {
    opacity: 1;             /* Muestra el botón al pasar el cursor */
}

.swiper-button-next,
.swiper-button-prev {         
    width: auto;                            /* Ancho de las flechas */
    height: 10%;                           /* Alto de las flechas */
    display: flex;                          /* Usar flexbox para centrar el contenido */
    align-items: center;                    /* Centrar verticalmente */
    justify-content: center;                /* Centrar horizontalmente */
    z-index: 10;                             /* Asegúrate de que las flechas estén en la parte superior */
                    
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: whitesmoke; /* Cambia el color de las flechas si es necesario */
    font-size: 4vh;
}

/* Evitar que el contenido se superponga a las flechas */
.swiper {
    padding: 0 0px; /* Agrega un padding lateral para evitar que el contenido se superponga a las flechas */
}