/* Fondo semitransparente para el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Contenido del modal */
  .modal-content {
    background: white;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Botones */
  button {
    margin: 5px;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }
  
  .save-button {
    background-color: #2196f3;
    color: white;
  }