.close-btn {
  background: #ff4d4d;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.close-btn:hover {
  background: #ff1a1a; /* Color al pasar el ratón */
}

/* Heading */
.heading-change-password {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* Form styles */
.form-group {
  margin-bottom: 15px;
}

.label-change-password {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
  display: block;
}

.input-change-password {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-change-password:focus {
  border-color: #007bff; /* Color de borde al enfocar */
}

.buttons-container-change-password {
  display: flex;
}

/* Submit Button */
.button-change-password {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-change-password:hover {
  background-color: #0056b3; /* Color al pasar el ratón */
}

.button-change-password:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Error Message */
.error-message-change-password {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
