.navbar {
  background-color: transparent;
  height: 75px;
  font-size: 20px;
  transition: background-color 0.2s;
}

.navbar-scrolled {
  background-color: rgba(0, 0, 0, 0.85);
}

.logo {
  width: 70px;
  cursor: pointer;
}

.login:hover {
  background-color: #7470ff;
}
