:root {
    --background-color: #A9CCE3;
    --secondary-color: #D5DBDB;
    --text-color: #FDFEFE;
    --button: #2C3E50;
    --button-body: #7B241C;
    --detalle-flama:#1C2833;
    --detalle-no-flama:#4A235A;
    --border-radius: 10px;
    --padding: 16px;
  }
  