.custom-button-register {
    background-color: #1929B6; /* Azul claro frío */
    color: #ffffff; /* Verde oscuro apagado */
    border-color: #A9CCE3;
    font-weight: bold;
    width: 100%;
}
.custom-button-register:hover {
    background-color: #1C2833;
    color: aliceblue;
    border-color: #1C2833;

}
.is-invalid {
    border-color: red;
  }

.input-label{
    color: #000000;
}