.container-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e; /* Fondo oscuro */
  color: #fff;
  min-height: 100vh;
  padding-top: 40px;
}

.title-profile {
  font-size: 24px;
  margin-bottom: 20px;
}

.card-profile {
  background-color: #2c2c2c;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  padding: 10px;
  color: #fff;
}

.field-profile {
  display: flex;
  justify-content: space-between;
  align-items: start;
  border-bottom: 1px solid #3e3e3e;
  padding: 15px;
}

.label-profile {
  font-weight: bold;
}

.value-profile {
  flex: 1;
  text-align: right;
  margin-right: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.icon-profile {
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

.link-profile {
  font-weight: bolder;
  font-size: 16px;
  text-decoration: none;
  color: #7470ff;
  padding: 5px 15px;
  border: 2px solid #7470ff;
  border-radius: 5px;
}

.link-profile:hover {
  color: #a39fff;
}

.delete-button-container {
  width: 100%;
  text-align: right;
}
