.card {
    @apply flex border rounded-lg overflow-hidden shadow-lg;
    background-image: url('../../../../public/fondo.png');
    /* Cambia esto a la ruta de tu imagen */
    background-size: cover;
    /* Asegura que la imagen cubra todo el fondo */
    background-position: center;
    /* Centra la imagen */
    height: auto;
    /* Ajusta según sea necesario */
    width: 60%;
    /* Ajusta según sea necesario */
}

.card-image {
    @apply w-1/3 h-full object-cover rounded-l-lg;
}

.card-content {
    @apply flex flex-col justify-between p-4 w-1/3;
}

.card-title {
    @apply bg-gray-200 p-2 rounded-md mb-2;
}

.card-rating {
    @apply bg-yellow-200 p-2 rounded-md mb-2;
}

.card-details {
    /* Asegúrate de que el nombre de la clase coincida con el usado en el componente */
    @apply bg-gray-100 p-2 rounded-md;
}