.card {
    display: flex;
    
    border-radius: 0.5rem; /* redondeo */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra */
    background-image: url('../../../../public/fondo.png');
    background-size: cover;
    background-position: center;
    height: auto; /* Ajusta según sea necesario */
    width: 60%; /* Ajusta según sea necesario */
    flex-direction: row;
}

.card-image {
    width: 33.33%; /* Un tercio del ancho de la card */
    height: auto; /* Se ajusta automáticamente */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-top-left-radius: 0.5rem; /* Redondea la esquina izquierda */
    border-bottom-left-radius: 0.5rem; /* Redondea la esquina izquierda */
}

.card-content {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    padding: 1rem; 
    flex: 1; /* Asegura que ocupa el espacio disponible */
    color:azure
}

.card-title {
    background-color: #2d3748; /* Fondo gris claro */
    padding: 0.5rem; /* Espaciado interno */
    border-radius: 0.25rem; /* Redondeo de esquinas */
    margin-bottom: 0.5rem; /* Espacio inferior */
    text-align: center;
}

.card-rating {
    background-color: #2d3748; /* Fondo amarillo */
    padding: 1rem 1.5em;
    border-radius: 0.25rem; /* Redondeo de esquinas */
    margin-bottom: 0.5rem; /* Espacio inferior */
    font-size: 32px !important;
    height: auto;
}

.card-details {
    background-color: #2d3748; /* Fondo gris más claro */
    padding: 0.5rem; /* Espaciado interno */
    border-radius: 0.25rem; /* Redondeo de esquinas */
    font-family: 'sans-serif'; /* Cambia 'Arial' por la fuente que desees */
    font-size: 3rem; 
}
@media (max-width: 600px) {
    .card-rating {
        font-size: 14px; /* Cambia a un tamaño más pequeño en pantallas pequeñas */
    }
}

.button1 {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #06befb;
    padding: 0.7em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #2d3748;
    border: 1px solid #2d3748;
    width: 200px;
    
  }
  
  .button1:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .button1:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button1:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #06befb;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button1:hover {
    color: #ffffff;
    border: 1px solid #06befb;
  }
  
  .button1:hover:before {
    top: -35%;
    background-color: #06befb;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button1:hover:after {
    top: -45%;
    background-color: #06befb;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  